.help {
  width: 20px; 
  height: 20px; 
  text-align: center; 
  float: left; 
  display: inline; 
  cursor: help; 
  font-size: 18px; 
  font-family: sans-serif; 
  color: white; 
  background: blue; 
  font-weight: bold;
}

.tooltip {
  cursor: help; 
  TEXT-DECORATION: underline;
}

.tooltip:hover {
  background: yellow;
}

.diff .new {
  background: #80ff80;
}
.diff .old {
  background: #ff8080;
}
.diff {
  background: #ffffff;
}

/* table on the main page */
.left_col {
  width: 60%;
  vertical-align: top;
}

.right_col {
  width: 40%;
  vertical-align: top;
}

table.wordlist {
  border: none;
  border-spacing: 0px;
}

.langlist th,
.wordlist th {
  background: #f0f0f0;
  border-bottom: solid;
}

.langlist tr:nth-child(even),
.wordlist tr:nth-child(even) {
  background: #e0e0e0;
}

.langlist tr:nth-child(odd),
.wordlist tr:nth-child(odd) {
  background: #d0d0d0;
}

table.langlist {
  border: none;
  border-spacing: 0px;
  table-layout: fixed;
}

.langlist th {
  width: 150px;
}

.langlist .number {
  text-align: right;
}

.requireloginform, .textdirectionform {
  margin-left: 30px;
}

#teamconfigbuttons {
  margin-top: 1em;
}